In [3]:
# The code was removed by Watson Studio for sharing.

<!DOCTYPE html>
<html class="client-nojs" lang="en

In [4]:
# The code was removed by Watson Studio for sharing.

In [5]:
# The code was removed by Watson Studio for sharing.

In [6]:
# The code was removed by Watson Studio for sharing.

<tr>
<td>M4A</td>
<td><a href="/wiki/North_York" title="North York">North York</a></td>
<td><a href="/wiki/Victoria_Village" title="Victoria Village">Victoria Village</a>
</td></tr>

In [7]:
# The code was removed by Watson Studio for sharing.

'M4A'

In [8]:
# The code was removed by Watson Studio for sharing.

'North York'

In [9]:
# The code was removed by Watson Studio for sharing.

'Victoria Village'

In [10]:
# The code was removed by Watson Studio for sharing.

IndexError: list index out of range

In [11]:
# The code was removed by Watson Studio for sharing.

In [12]:
# The code was removed by Watson Studio for sharing.

In [13]:
# The code was removed by Watson Studio for sharing.

In [14]:
# The code was removed by Watson Studio for sharing.

In [15]:
# The code was removed by Watson Studio for sharing.

In [16]:
df1.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

# With the previous data frame ready, carcamo el csv, we turned it into a data frame.

In [23]:
csv_url='http://cocl.us/Geospatial_data'

In [24]:

# pandas read csv from URL
ubi = pd.read_csv(csv_url)
ubi.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
ubi.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
ubi.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

# The two data frames are united in one around the common column.

In [27]:
dff= pd.merge(df1, ubi, on='Postcode')

dff.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476